skladdv/shop/__pycache__/__init__.cpython-38.pyc
skladdv/shop/__pycache__/admin.cpython-38.pyc
skladdv/shop/__pycache__/apps.cpython-38.pyc
skladdv/shop/__pycache__/castomcart.cpython-38.pyc
skladdv/shop/__pycache__/decorators.cpython-38.pyc
skladdv/shop/__pycache__/filters.cpython-38.pyc
skladdv/shop/__pycache__/forms.cpython-38.pyc
skladdv/shop/__pycache__/models.cpython-38.pyc
skladdv/shop/__pycache__/staffcart.cpython-38.pyc
skladdv/shop/__pycache__/tasks.cpython-38.pyc
skladdv/shop/__pycache__/urls.cpython-38.pyc
skladdv/shop/__pycache__/views.cpython-38.pyc
skladdv/shop/migrations/0002_order_orderitems_supplier_supply_and_more.py
skladdv/shop/migrations/__pycache__/__init__.cpython-38.pyc
skladdv/shop/migrations/__pycache__/0001_initial.cpython-38.pyc
skladdv/shop/migrations/__pycache__/0002_order_orderitems_supplier_supply_and_more.cpython-38.pyc
skladdv/skladdv/__pycache__/__init__.cpython-38.pyc
skladdv/skladdv/__pycache__/celery.cpython-38.pyc
skladdv/skladdv/__pycache__/dbconfig.cpython-38.pyc
skladdv/skladdv/__pycache__/settings.cpython-38.pyc
skladdv/skladdv/__pycache__/smtp_email_conf.cpython-38.pyc
skladdv/skladdv/__pycache__/urls.cpython-38.pyc
skladdv/skladdv/__pycache__/wsgi.cpython-38.pyc
.idea/FOGSTREAM__skladdv.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
