{% extends "shop/base.html" %}
{% block title %}Покупатели{% endblock %}
{% block content %}
<div class="container">
    <div class="row customers">
        <div>
            <h1> Покупатели </h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Заказы</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.username }}</td>
                        <td> {{ customer.last_name }} </td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.telephone }}</td>
                        <td><form method="LINK" action="/customers/orders/{{ customer.id }}/"> <input type="submit" value="смотреть"> </form></td>
                    </tr>
                {% empty %}
                <b> Список покупателей пуст </b><br>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
