{% extends "shop/base.html" %}
{% block title %}Заказы покупателя{% endblock %}
{% block content %}
<div class="container">
    <div class="row customer_cart">
        <div class="customer_cart__width-auto">
            <h1 class="customer_cart__width-auto">Заказы покупателя {{ customer.username }}</h1>
        </div>
        <div class="customer_cart__width-100">
            <h3 class="customer_cart__width-100">ФИО: {{ customer.last_name }} {{ customer.first_name }}</h3>
        </div>
        <div class="customer_cart__width-100">
            <p>Общее кол-во позиций: {{ total_count }}</p>
            <p>Общая сумма заказов: {{ total_price }} руб.</p>
            <p>Общее кол-во заказов: {{ orders_count }} шт.</p>
        </div>
        <form method="get" class="customer_cart__width-100 customer_cart__jsutcontent-spabet">
            {{ orders.form }}
            <input type="submit">
        </form>
        <table class="customer_cart__width-100">
            <thead>
                <tr>
                    <th>номер заказа</th>
                    <th>кол-во позиций</th>
                    <th>общая стоимость</th>
                    <th>дата создания</th>
                    <th>статус</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders.qs %}
                <tr>
                    <td><a href="/orders/{{ order.id }}/"> {{ order.id }}</a></td>
                    <td>{{ order.positions }}</td>
                    <td>{{ order.total_coast }}</td>
                    <td>{{ order.time_create }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% empty %}
                    <h4>Список заказов пуст</h4>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
