{% extends "shop/base.html" %}

{% block title %}Заказ товара{% endblock %}

{% block content %}

<h1> {{ good }} </h1>
<div> Артикул: {{ good.artikul }} </div>

<div>
    <table>
        <thead>
            <tr>
                <th>Поставщики</th>
                <th>Закупочная цена</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td> {{ supplier.name }} </td>
                    <td> {{ supplier.purchase_price }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if user.is_authenticated %}

<div>
<form method="post" action="">
    {% csrf_token %}
    {{ form.quantity }}
    {{ form.supplier }}
    {{ form.order }}
    <button type="submit" > Добавить в поставку </button>
</form>
</div>

{% else %}

<i>Авторизуйтесь, чтобы иметь возможность добавлять товары в поставку</i>

{% endif %}

{% for message in messages %}
    <i>{{ message }}</i><br>
{% endfor %}

{% endblock %}
