{% extends "shop/base.html" %}
{% load mptt_tags %}

{% block title %}Номенклатура{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

<h1>Перечень и остатки товаров на складе</h1>

{% if categories %}

    <div class="nomenclature">
        {% recursetree categories %}
            <div class="parent">
                <a href="/nomenclature/categorydetail/{{ node.id }}/">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <div class="children">
                        {{ children }}
                    </div>
                {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Количество на складе</th>
                                    <th>Количество в резерве</th>
                                    <th>Итого</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if node.get_goods %}
                                {% for good in node.get_goods %}
                                    {% if good.available_for_order %}
                                        <tr>
                                            <td><a href="/nomenclature/{{ good.id }}/"> {{ good.title }}</a></td>
                                            <td>{{ good.storage_quantity }} {{ good.unit }}</td>
                                            <td> {{ good.get_reserve_quantity }} {{ good.unit }}</td>
                                            <td> {{ good.get_total_quantity }} {{ good.unit }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                {% endif %}
            </div>
        {% endrecursetree %}
    </div>

{% else %}

<p>Нет товаров для отображения</p>

{% endif %}
    </div>
</div>

{% endblock %}