{% extends "shop/base.html" %}

{% block title %}Операции{% endblock %}

{% block content %}
<div class="container">
    <div class="row customer_cart">

        <div class="customer_cart__width-100 gap10">
            <a href="/suppliercreate/" class="btn_all">Создание поставщика</a>
            <a href="/customercreate/" class="btn_all">Создание покупателя</a>
        </div>

        <h1 class="customer_cart__width-100">Заказы покупателей</h1>

        <div class="customer_cart__width-100">
            <p>Общее кол-во позиций: {{ total_count }}</p>
            <p>Общая сумма заказов: {{ total_price }} руб.</p>
            <p>Общее кол-во заказов: {{ orders_count }} шт.</p>
        </div>

        {% if orders %}
        <table class="customer_cart__width-100">
            <thead>
                <tr>
                    <th>номер заказа</th>
                    <th>кол-во позиций</th>
                    <th>общая стоимость</th>
                    <th>дата создания</th>
                    <th>статус</th>
                    <th>заказчик</th>
                    <th>qr-код</th>
                </tr>
            </thead>
        {% endif %}
            <tbody>
                {% for order in orders %}
                <tr>
                    <td><a href="/orders/{{ order.id }}/"> {{ order.id }}</a></td>
                    <td>{{ order.positions }}</td>
                    <td>{{ order.total_coast }}</td>
                    <td>{{ order.time_create }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.user }}</td>
                    <td><form method="LINK" action="/qrcode/{{ order.id }}/"> <input type="submit" value="Показать qr-код"> </form></td>
                </tr>
                {% empty %}
                    <li class="customer_cart__width-100">Список заказов пуст</li>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="customer_cart__width-100">Поставки:</h1>

        <div class="customer_cart__width-100">
            <p>Общее кол-во позиций: {{ total_positions }}</p>
            <p>Общая сумма заказов: {{ total_purchase_price }} руб.</p>
            <p>Общее кол-во заказов: {{ supplies_count }} шт.</p>
        </div>

        {% if supplies %}
        <table class="customer_cart__width-100">
            <thead>
                <tr>
                    <th>номер поставки</th>
                    <th>кол-во позиций</th>
                    <th>общая стоимость</th>
                    <th>дата создания</th>
                    <th>номер заказа</th>
                    <th>статус</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                {% for supply in supplies %}
                    <tr>
                        <td><a href="/supplies/{{ supply.id }}/"> {{ supply.id }}</a></td>
                        <td>{{ supply.total_positions }}</td>
                        <td>{{ supply.total_purchase_price }}</td>
                        <td>{{ supply.time_create }}</td>
                        <td>{{ supply.get_order_id }}</td>
                        <td>{{ supply.status }}</td>
                    </tr>
                {% empty %}
                    <li class="customer_cart__width-100">Список поставок пуст</li>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="customer_cart__width-100">События</h1>

        {% if events %}
        <table class="customer_cart__width-100">
            <thead>
                <tr>
                    <th>тип события</th>
                    <th>созданный объект</th>
                    <th>дата создания</th>
                    <th>создано пользователем</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.type }}</td>
                        <td>
                            {% if event.type_is_create_supplier %}
                            {{ event.supplier }}
                            {% elif event.type_is_create_customer %}
                            {{ event.customer.username }}
                            {% elif event.type_is_create_good %}
                            {{ event.good }}
                            {% endif %}
                        </td>
                        <td>{{ event.time_create }}</td>
                        <td>{{ event.get_created_by }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <li class="customer_cart__width-100">Список событий пуст</li>
        {% endif %}
    </div>
</div>

{% endblock %}
