<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
    {% block content %}{% endblock %}
</div>

<a href="/catalog/cart/"> Корзина </a><br>
<a href="/catalog/"> Каталог </a><br>
<a href="/"> Главная страница </a><br>
<a href="/orders/"> Заказы </a><br>
<a href="/nomenclature/"> Номенклатура </a><br>
<a href="/nomenclature/staffcart/"> Корзина поставок </a><br>
<a href="/supplies/"> Список поставок </a><br>
<a href="/cabinet/"> Личный кабинет </a><br>
<a href="/suppliers/"> Поставщики </a><br>
<a href="/customers/"> Покупатели </a><br>
<a href="/operations/"> Операции склада </a><br>

{% if user.is_authenticated %}

<a href="/accounts/logout/"> Разлогиниться </a><br>

{% else %}

<a href="/accounts/login/"> Залогиниться </a><br>

{% endif %}

</body>
</html>