{% extends "shop/base.html" %}

{% block title %}Личный кабиент{% endblock %}

{% block content %}

<h1> Личный кабинет пользователя {{ user.username }} </h1>
<h1> {{ user.last_name }} {{ user.first_name }} </h1>

{% if not user.is_staff %}

<table>
    <thead>
        <tr>
            <th>номер заказа</th>
            <th>кол-во позиций</th>
            <th>общая стоимость</th>
            <th>дата создания</th>
            <th>статус</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td><a href="/order/{{ order.id }}/"> {{ order.id }}</a></td>
            <td>{{ order.positions }}</td>
            <td>{{ order.total_coast }}</td>
            <td>{{ order.time_create }}</td>
            <td>{{ order.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}

