{% extends "shop/base.html" %}
{% block title %}Товары из категории{% endblock %}
{% block content %}
    <div class="container">
        <div class="row search-catalog width100">
            <form method="get" class="form customer_cart__jsutcontent-spabet width100">
                {{ goods.form }}
                <input type="submit">
            </form>
        </div>
        <div class="row catalog">
            {% if goods.qs %}
                {% for good in goods.qs %}
                    {% if good.available_for_order %}
                        <div class="catalog__card">
                            <img src="{{ good.photo.url }}">
                            <h1>{{ good.price }} Руб.</h1>
                            <h2>{{ good.title }}</h2>
                            <a href="/catalog/{{ good.id }}/">Смотреть</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div>Товаров нет</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
