{% extends "shop/base.html" %}
{% load mptt_tags %}

{% block title %}Каталог{% endblock %}

{% block content %}

<ul>
    {% recursetree categories %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% else %}
                <ul>
                    {% for good in node.get_goods %}
                        <li> <a href="/catalog/{{ good.id }}/"> {{ good.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}

</ul>

{% endblock %}