{% extends "shop/base.html" %}

{% block title %}SKLAD.DV{% endblock %}

{% block content %}

{% load static %}
	<div class="container">
		<div class="row hello">
			<div class="hello__content">
				<div>
					<h1>
						<span class="orange-text">Доступная цена</span>, сертифицированные специалисты и инновационные решения
					</h1>
					<p>Лучшие товары только у нас</p>
					<a href="/catalog/">Заказать</a>
				</div>
				<div>
					<div class="arrow-7">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<h1>Наши приемущества</h1>
			<div class="benefits">
				<div class="benefit">
					<img src="{% static 'img/speed.png' %}" class="benefit__img" alt="NotFound">
					<h3 class="benefit__label">Скорость</h3>
				</div>
				<div class="benefit">
					<img src="{% static 'img/price.jpg' %}" class="benefit__img" alt="NotFound">
					<h3 class="benefit__label">Цена</h3>
				</div>
				<div class="benefit">
					<img src="{% static 'img/quality.jpg' %}" class="benefit__img" alt="NotFound">
					<h3 class="benefit__label">Качество</h3>
				</div>
			</div>
		</div>

		<div class="row map">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A583fcb44476b0abe2dac1ab53095b5f19547c1d949484774bc7065cf461ddf3e&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
		</div>
	</div>

{% endblock %}