{% extends "shop/base.html" %}
{% block title %}Товары из категории{% endblock %}
{% block content %}
<div class="container">
    <div class="row customer_cart">
        <h1>{{ cat_name }}</h1>
        {% if goods %}
        <div class="customer_cart__width-100">
            <p>Общая стоимость товаров(продажная): {{ total_price }} руб.</p>
            <p>Свободно: {{ free_quantity }} ед.</p>
            <p>Зарезервировано: {{ reserve_quantity }} ед.</p>
            <p>Общее кол-во товаров: {{ total_quantity }} ед.</p>
            <p>Кол-во наименований товаров: {{ goods.qs.count }}</p>
        </div>
        <div class="customer_cart__width-100">
            <form method="get" class="customer_cart__width-100 customer_cart__jsutcontent-spabet">
                {{ goods.form }}
                <input type="submit" class="btn49">
            </form><br>
        </div>
        <div class="customer_cart__width-100">
            <ul>
                <table class="customer_cart__width-100">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Артикул</th>
                        <th>Цена продажи</th>
                        <th>Свободно</th>
                        <th>Зарезервировано</th>
                        <th>Итого кол-во</th>
                        <th>Общая стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for good in goods.qs %}
                            {% if good.available_for_order %}
                                <tr>
                                    <td><a href="/nomenclature/{{ good.id }}/"> {{ good.title }}</a></td>
                                    <td>{{ good.artikul }} </td>
                                    <td>{{ good.price }} {{ good.unit }}</td>
                                    <td>{{ good.storage_quantity }} {{ good.unit }}</td>
                                    <td>{{ good.get_reserve_quantity }} {{ good.unit }}</td>
                                    <td>{{ good.get_total_quantity }} {{ good.unit }}</td>
                                    <td>{{ good.get_total_price }} руб.</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
