{% extends "shop/base.html" %}
{% load mptt_tags %}

{% block title %}Номенклатура{% endblock %}

{% block content %}

<h1>Перечень и остатки товаров на складе</h1>

{% if categories %}

<div>
    <b> Общая стоимость товаров(продажная): {{ total_price }} руб. </b><br>
    <b> Свободно: {{ free_quantity }} ед.</b><br>
    <b> Зарезервировано: {{ reserve_quantity }} ед.</b><br>
    <b> Общее кол-во товаров: {{ total_quantity }} ед.</b><br>
    <b> Кол-во категорий: {{ count_categories }} </b><br>
    <b> Кол-во подкатегорий: {{ count_subcategories }} </b>
</div><br>

<div>
    <ul>
        {% recursetree categories %}
            <li>
                <a href="/nomenclature/categorydetail/{{ node.id }}/"> {{ node.name }} ({{ node.count_goods }}) </a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% else %}
                    <ul>
                        <table>
                            <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Артикул</th>
                                    <th>Цена продажи</th>
                                    <th>Свободно</th>
                                    <th>Зарезервировано</th>
                                    <th>Итого кол-во</th>
                                    <th>Общая стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for good in node.get_goods %}
                                    {% if good.available_for_order %}
                                        <tr>
                                            <td><a href="/nomenclature/{{ good.id }}/"> {{ good.title }}</a></td>
                                            <td>{{ good.artikul }} </td>
                                            <td>{{ good.price }} {{ good.unit }}</td>
                                            <td>{{ good.storage_quantity }} {{ good.unit }}</td>
                                            <td> {{ good.get_reserve_quantity }} {{ good.unit }}</td>
                                            <td> {{ good.get_total_quantity }} {{ good.unit }}</td>
                                            <td> {{ good.get_total_price }} руб.</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>

{% else %}

<p>Нет товаров для отображения</p>

{% endif %}

{% endblock %}