{% extends "shop/base.html" %}

{% block title %}Детализация заказа{% endblock %}

{% block content %}

<h1> Заказ № {{ order_id }} </h1>

<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма заказа по товару</th>
        </tr>
    </thead>
    <tbody>
        {% for good in order_details %}
        <tr>
            <td>{{ good.title }}</td>
            <td>{{ good.quantity }} {{ good.unit }}</td>
            <td>{{ good.price }} руб.</td>
            <td>{{ good.total_price }} руб.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}