{% extends "shop/base.html" %}

{% block title %}Детализация заказа{% endblock %}

{% block content %}

<h1> Заказ № {{ order_id }} </h1>

<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма заказа по товару</th>
            {% if user_is_staff %}
                <th>Зарезервировано {{ good.unit }}</th>
                <th>Дозаказать</th>
                <th>Свободный остаток на складе</th>
                <th>Заказано</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for good in order_details %}
        <tr>
            <td>{{ good.title }}</td>
            <td>{{ good.quantity }} {{ good.unit }}</td>
            <td>{{ good.price }} руб.</td>
            <td>{{ good.total_price }} руб.</td>
            {% if user_is_staff %}
                <th>{{ good.reserve }}</th>
                <th>{{ good.for_order }}</th>
                <th>{{ good.storage_quantity }}</th>
                <th>{{ good.ordered_quantity }}</th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user_is_staff %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.status }}
        <button type="submit" > Изменить статус заказа </button>
    </form>
{% endif %}

{% if user_is_customer %}
    {% if order_is_ready %}
        <form method="LINK" action="/closeorder/{{ order_id }}/"> <input type="submit" value="Подтвердить получение"> </form><br>
    {% endif %}
{% endif %}

{% if message %}
    {{ message }}
{% endif %}

{% endblock %}