{% extends "shop/base.html" %}

{% block title %}Поставки{% endblock %}

{% block content %}

<h1> Поставки: </h1>

{% if supplies %}

<form method="get">
    {{ supplies.form }}
    <input type="submit" />
</form><br>

<table>
    <thead>
        <tr>
            <th>номер поставки</th>
            <th>кол-во позиций</th>
            <th>общая стоимость</th>
            <th>дата создания</th>
            <th>номер заказа</th>
            <th>статус</th>
        </tr>
    </thead>
    <tbody>
        {% for supply in supplies.qs %}
            <tr>
                <td><a href="/supplies/{{ supply.id }}/"> {{ supply.id }}</a></td>
                <td>{{ supply.total_positions }}</td>
                <td>{{ supply.total_purchase_price }}</td>
                <td>{{ supply.time_create }}</td>
                <td>{{ supply.get_order_id }}</td>
                <td>{{ supply.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table><br>

<b> Общее кол-во позиций: {{ total_positions }} </b><br>
<b> Общая сумма заказов: {{ total_purchase_price }} руб. </b><br>
<b> Общее кол-во заказов: {{ supplies_count }} шт. </b>

{% endif %}
{% endblock %}