{% extends "shop/base.html" %}
{% block title %}Поставка{% endblock %}
{% block content %}
<div class="container">
    <div class="row customer_cart">
        <h1>Поставка № {{ supply_id }}:</h1>
        <table class="customer_cart__width-100">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Закупочная цена</th>
                    <th>Сумма поставки</th>
                    <th>Поставщик</th>
                    <th>№ заказа</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for supply in supply_items %}
                    <tr>
                        <td>{{ supply.good }}</td>
                        <td>{{ supply.quantity }}</td>
                        <td>{{ supply.purchase_price }}</td>
                        <td>{{ supply.total_purchase_price }}</td>
                        <td>{{ supply.supplier }} </td>
                        <td>{{ supply.get_order_id }} </td>
                        <td>{{ supply.status }} </td>
                        {% if supply.is_actual %}
                        <td class="btn_w_auto">
                            <form method="LINK" action="/supplies/closesupplyitem/{{ supply.id }}/">
                                <input type="submit" value="поступила на склад">
                            </form>
                        </td>
                        <td class="btn_w_auto">
                            <form method="LINK" action="/supplies/cancelsupplyitem/{{ supply.id }}/">
                                <input type="submit" value="отменить">
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
