{% extends "shop/base.html" %}

{% block title %}Поставки поставщика{% endblock %}

{% block content %}

<div>
    <center>
        <h1> Поставки {{ supplier_name }} </h1>
    </center>
</div><br>

<div>
    <b> Общее кол-во единиц товаров: {{ total_quantity }} ед.</b><br>
    <b> Общая сумма заказов(по закупочной цене): {{ total_purchase_price }} руб. </b><br>
    <b> Общее кол-во заказов: {{ supply_items_count }} шт.</b>
</div><br>

<form method="get">
    {{ supply_items.form }}
    <input type="submit" />
</form><br>


{% if supply_items.qs %}
<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Закупочная цена</th>
            <th>Сумма поставки</th>
            <th>Поставщик</th>
            <th>№ заказа</th>
            <th>Дата создания</th>
            <th>Статус</th>
        </tr>
    </thead>
{% endif %}
    <tbody>
        {% for item in supply_items.qs %}
            <tr>
                <td>{{ item.good }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.purchase_price }}</td>
                <td>{{ item.total_purchase_price }}</td>
                <td>{{ item.supplier }} </td>
                <td>{{ item.get_order_id }} </td>
                <td>{{ item.get_date_create }} </td>
                <td>{{ item.status }} </td>
            </tr>
        {% empty %}
            <center> Список поставок пуст </center><br>
        {% endfor %}
    </tbody>
</table>


{% endblock %}