{% extends "shop/base.html" %}
{% block title %}Поставщики{% endblock %}
{% block content %}
<div class="container">
    <div class="row customer_cart">
        <h1 class="customer_cart__width-auto">Поставщики</h1>
        <div class="customer_cart__width-100">
            <table class="customer_cart__width-100">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>ИНН</th>
                        <th>ОГРН</th>
                        <th>Адрес</th>
                        <th>Контактное лицо</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Актуальный</th>
                        <th>Категории товаров</th>
                        <th>Поставки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.name }}</td>
                            <td>{{ supplier.inn }}</td>
                            <td>{{ supplier.ogrn }}</td>
                            <td>{{ supplier.address }}</td>
                            <td>{{ supplier.contact_person }}</td>
                            <td>{{ supplier.telephone }}</td>
                            <td>{{ supplier.email }}</td>
                            <td>{{ supplier.get_is_actual }}</td>
                            <td>
                                <ul>
                                    {% for category in supplier.get_categories %}
                                        <div>{{ category }}</div>
                                    {% empty %}
                                        <div>Категории не заданы</div>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <form method="LINK" action="/suppliers/supplyitems/{{ supplier.id }}/">
                                    <input type="submit" value="смотреть">
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <p>Список поставщиков пуст</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}